<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Cadastro de livros</title>
</head>

<body>
    <h1>Cadastro de livros</h1>

    <form action="/livros" method="post">
        
        <input type="hidden" id="id" name="id"/>

        <div>
            <label for="titulo">Titulo:</label>
            <input type="text" id="titulo" name="titulo" placeholder="coloque o titulo"/>
        </div>

        <div>
            <label for="preco">Preco:</label> 
            <input type="text" id="preco" name="preco" placeholder="R$150,25"/>
        </div>

        <div>
            <label for="descricao">Descricao:</label>
            <textarea cols="20" rows="10" id="descricao" name="descricao"></textarea>
        </div>

        <input type="submit" value="Salvar"/>
    </form>    
</body>
</html>